### Redis Python Operations
Python Redis operations
* Set
* Get

In [ ]:
import pandas as pd
import redis

In [2]:
df = pd.read_parquet("../data/df.parquet")

In [3]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047,United Kingdom

In [4]:
df.shape

(397924, 8)

In [5]:
con = redis.StrictRedis(host='localhost', port=6379, db=1, password=None)
con.ping()

True

In [6]:
con.info()

{'redis_version': '7.0.1',
 'redis_git_sha1': 0,
 'redis_git_dirty': 0,
 'redis_build_id': 'eaa8c98212b8004a',
 'redis_mode': 'standalone',
 'os': 'Linux 5.10.102.1-microsoft-standard-WSL2 x86_64',
 'arch_bits': 64,
 'monotonic_clock': 'POSIX clock_gettime',
 'multiplexing_api': 'epoll',
 'atomicvar_api': 'c11-builtin',
 'gcc_version': '10.2.1',
 'process_id': 1,
 'process_supervised': 'no',
 'run_id': '4e914fa8b38b90f7c64f20305fcfca80516cd29b',
 'tcp_port': 6379,
 'server_time_usec': 1654969309082855,
 'uptime_in_seconds': 7020,
 'uptime_in_days': 0,
 'hz': 10,
 'configured_hz': 10,
 'lru_clock': 10802141,
 'executable': '/data/redis-server',
 'config_file': '',
 'io_threads_active': 0,
 'connected_clients': 1,
 'cluster_connections': 0,
 'maxclients': 10000,
 'client_recent_max_input_buffer': 20480,
 'client_recent_max_output_buffer': 0,
 'blocked_clients': 0,
 'tracking_clients': 0,
 'clients_in_timeout_table': 0,
 'used_memory': 1571384,
 'used_memory_human': '1.50M',
 'used_memory_rss': 14176256,
 'used_memory_rss_human': '13.52M',
 'used_memory_peak': 1592392,
 'used_memory_peak_human': '1.52M',
 'used_memory_peak_perc': '98.68%',
 'used_memory_overhead': 1139632,
 'used_memory_startup': 862720,
 'used_memory_dataset': 431752,
 'used_memory_dataset_perc': '60.92%',
 'allocator_allocated': 1635592,
 'allocator_active': 1925120,
 'allocator_resident': 5066752,
 'total_system_memory': 6221705216,
 'total_system_memory_human': '5.79G',
 'used_memory_lua': 31744,
 'used_memory_vm_eval': 31744,
 'used_memory_lua_human': '31.00K',
 'used_memory_scripts_eval': 0,
 'number_of_cached_scripts': 0,
 'number_of_functions': 0,
 'number_of_libraries': 0,
 'used_memory_vm_functions': 32768,
 'used_memory_vm_total': 64512,
 'used_memory_vm_total_human': '63.00K',
 'used_memory_functions': 184,
 'used_memory_scripts': 184,
 'used_memory_scripts_human': '184B',
 'maxmemory': 0,
 'maxmemory_human': '0B',
 'maxmemory_policy': 'noeviction',
 'allocator_frag_ratio': 1.18,
 'allocator_frag_bytes': 289528,
 'allocator_rss_ratio': 2.63,
 'allocator_rss_bytes': 3141632,
 'rss_overhead_ratio': 2.8,
 'rss_overhead_bytes': 9109504,
 'mem_fragmentation_ratio': 9.03,
 'mem_fragmentation_bytes': 12606696,
 'mem_not_counted_for_evict': 0,
 'mem_replication_backlog': 0,
 'mem_total_replication_buffers': 0,
 'mem_clients_slaves': 0,
 'mem_clients_normal': 37632,
 'mem_cluster_links': 0,
 'mem_aof_buffer': 0,
 'mem_allocator': 'jemalloc-5.2.1',
 'active_defrag_running': 0,
 'lazyfree_pending_objects': 0,
 'lazyfreed_objects': 0,
 'loading': 0,
 'async_loading': 0,
 'current_cow_peak': 0,
 'current_cow_size': 0,
 'current_cow_size_age': 0,
 'current_fork_perc': 0.0,
 'current_save_keys_processed': 0,
 'current_save_keys_total': 0,
 'rdb_changes_since_last_save': 0,
 'rdb_bgsave_in_progress': 0,
 'rdb_last_save_time': 1654968967,
 'rdb_last_bgsave_status': 'ok',
 'rdb_last_bgsave_time_sec': 1,
 'rdb_current_bgsave_time_sec': -1,
 'rdb_saves': 2,
 'rdb_last_cow_size': 499712,
 'rdb_last_load_keys_expired': 0,
 'rdb_last_load_keys_loaded': 0,
 'aof_enabled': 0,
 'aof_rewrite_in_progress': 0,
 'aof_rewrite_scheduled': 0,
 'aof_last_rewrite_time_sec': -1,
 'aof_current_rewrite_time_sec': -1,
 'aof_last_bgrewrite_status': 'ok',
 'aof_rewrites': 0,
 'aof_rewrites_consecutive_failures': 0,
 'aof_last_write_status': 'ok',
 'aof_last_cow_size': 0,
 'module_fork_in_progress': 0,
 'module_fork_last_cow_size': 0,
 'total_connections_received': 106,
 'total_commands_processed': 8894,
 'instantaneous_ops_per_sec': 1,
 'total_net_input_bytes': 693007,
 'total_net_output_bytes': 70289,
 'total_net_repl_input_bytes': 0,
 'total_net_repl_output_bytes': 0,
 'instantaneous_input_kbps': 0.02,
 'instantaneous_output_kbps': 0.01,
 'instantaneous_input_repl_kbps': 0.0,
 'instantaneous_output_repl_kbps': 0.0,
 'rejected_connections': 0,
 'sync_full': 0,
 'sync_partial_ok': 0,
 'sync_partial_err': 0,
 'expired_keys': 0,
 'expired_stale_perc': 0.0,
 'expired_time_cap_reached_count': 0,
 'expire_cycle_cpu_milliseconds': 79,
 'evicted_keys': 0,
 'evicted_clients': 0,
 'total_eviction_exceeded_time': 0,
 'current_eviction_exceeded_time': 0,
 'keyspace_hits': 103,
 'keyspace_misses': 0,
 'pubsub_channels': 0,
 'pubsub_patterns': 0,
 'latest_fork_usec': 255,
 'total_forks': 2,
 'migrate_cached_sockets': 0,
 'slave_expires_tracked_keys': 0,
 'active_defrag_hits': 0,
 'active_defrag_misses': 0,
 'active_defrag_key_hits': 0,
 'active_defrag_key_misses': 0,
 'total_active_defrag_time': 0,
 'current_active_defrag_time': 0,
 'tracking_total_keys': 0,
 'tracking_total_items': 0,
 'tracking_total_prefixes': 0,
 'unexpected_error_replies': 0,
 'total_error_replies': 0,
 'dump_payload_sanitizations': 0,
 'total_reads_processed': 9000,
 'total_writes_processed': 8894,
 'io_threaded_reads_processed': 0,
 'io_threaded_writes_processed': 0,
 'reply_buffer_shrinks': 3,
 'reply_buffer_expands': 1,
 'role': 'master',
 'connected_slaves': 0,
 'master_failover_state': 'no-failover',
 'master_replid': '4d44392c148dfd09ee302b56c0a326dfad661cf1',
 'master_replid2': 0,
 'master_repl_offset': 0,
 'second_repl_offset': -1,
 'repl_backlog_active': 0,
 'repl_backlog_size': 1048576,
 'repl_backlog_first_byte_offset': 0,
 'repl_backlog_histlen': 0,
 'used_cpu_sys': 4.151127,
 'used_cpu_user': 3.917442,
 'used_cpu_sys_children': 0.0,
 'used_cpu_user_children': 0.008521,
 'used_cpu_sys_main_thread': 4.155973,
 'used_cpu_user_main_thread': 3.908734,
 'cluster_enabled': 0,
 'db1': {'keys': 4339, 'expires': 0, 'avg_ttl': 0}}

In [7]:
tmp = df.groupby("CustomerID")["InvoiceNo"].unique().to_frame().reset_index()
tmp.head()

  CustomerID                                          InvoiceNo
0      12346                                           [541431]
1      12347  [537626, 542237, 549222, 556201, 562032, 57351...
2      12348                   [539318, 541998, 548955, 568172]
3      12349                                           [577609]
4      12350                                           [543037]

In [8]:
tmp.tail()

     CustomerID                                          InvoiceNo
4334      18280                                           [545712]
4335      18281                                           [556464]
4336      18282                                   [562525, 580173]
4337      18283  [540350, 541854, 545079, 550957, 554157, 55673...
4338      18287                           [554065, 570715, 573167]

### Inserting data into Redis

Redis is a key-value store that is designed to be very fast and flexible. Hence I just want to insert aggregated data into Redis. \
I used *CustomerID* as key and the *InvoiceNo* as value.

In [10]:
%%time
for user in tmp.CustomerID.unique():
    con.set(str(user), tmp[tmp['CustomerID'] == user]["InvoiceNo"].to_json())

CPU times: total: 4.06 s
Wall time: 6.83 s

### Getting data from Redis

In [11]:
def get_user_results(user_id):
    con = redis.StrictRedis(host='localhost', port=6379, db=1, password=None)
    res = con.get(user_id)
    return res.decode()

In [12]:
%%time
get_user_results(18283)

CPU times: total: 0 ns
Wall time: 5 ms

'{"4337":["540350","541854","545079","550957","554157","556731","557956","560025","560032","565579","573093","575668","575675","578262","579673","580872"]}'

In [13]:
%%time
tmp[tmp.CustomerID == "18283"]

CPU times: total: 0 ns
Wall time: 1 ms

     CustomerID                                          InvoiceNo
4337      18283  [540350, 541854, 545079, 550957, 554157, 55673...

In [14]:
%%timeit -n 10 -r 10
get_user_results(18283)

3.93 ms ± 252 µs per loop (mean ± std. dev. of 10 runs, 10 loops each)

In [15]:
%%timeit -n 10 -r 10
tmp[tmp.CustomerID == "18283"]

561 µs ± 49.8 µs per loop (mean ± std. dev. of 10 runs, 10 loops each)